



/* ------------- Contactos --------------*/
.titulo{
    margin: 2rem 1rem;
    width: auto;
    padding: 5px 15px;
    box-shadow: $shadow;
    background: linear-gradient(
    to left top,
    rgba(106, 31, 121, 0.418),
    rgba(31, 68, 110, 0.678)
    );
    color: rgb(255, 249, 249);
    border-radius: 2px;
}

.container{
       font-size: $textLarge;
       font-family: $fontBase;
       color: $colorP;
}



/* ------------MEDIAS-------*/
 @media (max-width: 992px){
    .bodyGeneral{
        width: auto;
        padding-top: 70px;

    }
    .carrusel{
        width: 95%;
        margin-top: 10px;
        margin-left: 20px;
        position: relative;
   }
    .d-block{
        margin-left: 120px;
        width: 650px;
        height:450px;
        border-radius: 1rem;
        box-shadow: $shadow;
    }

  /*------------- CARTELERA -------------- */
    .cartel{
        background-color: #f8f9fc36;
        padding: 10px;
        margin: 30px 50px 10 50px;
        border-radius: 20px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;

    &__poster h5{
        list-style: none;
        margin: 10px 0;
        text-align: center;
    }
    &__poster img{
        width: 200px;
        height: 300px;
        border-radius: 20px;
    }
    &__poster img:hover{
        transform:scale(1.1);
    }
    }
}

@media (max-width: 768px){
    .cartel{
        background-color: #f8f9fc36;
        padding: 5px;
        margin: 30px 50px 10 50px;
        border-radius: 20px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .carrusel{
        width: 95%;
        margin-top: 10px;
        margin-left: 10px;
        position: static;
   }
    .d-block{
        margin-left: 35px;
        width: 650px;
        height:450px;
        border-radius: 1rem;
        box-shadow: $shadow;
    }
    .cartel__poster h5{
        list-style: none;
        margin: 10px 0;
        font-size:$textMin;
    }
    .cartel__poster h5:hover{
        background: rgba(236, 233, 233, 0.801);
        border-radius: 10px;
        transform: scale(1.2);
    }
    .cartel__poster img{
        width: 300px;
        height: 380px;
        border-radius: 20px;
        width: 100%;
    }
}

@media (max-width: 375px){
    .bodyGeneral{
        padding-top: 70px;
        width: auto;
    }
    .carrusel{
        width: 95%;
        margin-top: 10px;
        margin-left: 10px;
   }
    .d-block{
        margin-left: 20px;
        width: 300px;
        height:250px;
        border-radius: 1rem;
        box-shadow: $shadow;
    }
    .cartel{
        margin-top:50px;
    }
    .cartel__poster h5{
        font-size:$textMin;
    }
    .cartel__poster img{
        width: 220px;
        height: 280px;
        border-radius: 20px;
        width: 100%;
    }
}