*{
    padding: 0;
    margin: 0;
    box-sizing: border-box ;
}
.main{
    background: rgba(244, 244, 255, 0.938);
    margin-top: 100px;
}
.search{
   
    border-radius: 5px;
    margin-right: 30px;
    padding: 5px;
}
.search img{
    width: 30px;
    height: 30px;
}
.contenedor{
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: space-around;
    margin-top: 40px;
    margin-bottom: 30px;
}

.producto{
   border-radius: 20px;
}
h3{
    margin: 3px 0;
    font-size: 30px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(90, 47, 47);
}

.imag{
    width: 200px;
    height: 280px;
    border-radius: 10px;
    box-shadow: 3px 5px 5px rgba(3, 32, 51, .8);
    margin: 10px 0;
    cursor: pointer;
} 

.imagen-light{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, .5);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transform: translate(100%);
    transition: transform .3s ease-in-out;
}
.show{
    transform: translate(0);
    
}
.agregar-imagen{
    width: 55%;
    height: 90%;
    border-radius: 5px;
    transition: transform .3s .2s;
    transform: scale(0);
}
.showImage{
    transform: scale(1);
}

.close{
    position: absolute;
    top: 15px;
    right: 15px;
    width: 40px;
    cursor: pointer;
}
.boton-agregar{
   background: rgb(199, 165, 114);
   border: 1px black;
   border-radius: 10px;
   width: 100px;
   height: 30px;
   box-shadow: 3px 5px 5px rgba(3, 32, 51, .8);
   margin-bottom: 40px;
}

@media (max-width: 992px){
    .main{
        background: rgba(244, 244, 255, 0.938);
        margin-top: 100px;
    }
    .search{
       
        border-radius: 5px;
        margin-right: 30px;
        padding: 5px;
    }
    .search img{
        width: 30px;
        height: 30px;
    }
    .contenedor{
        display: grid;
        grid-template-columns: auto auto auto auto;
        justify-content: space-around;
        margin-top: 40px;
        margin-bottom: 30px;
    }
    
    .producto{
       border-radius: 20px;
    }
    h3{
        margin: 3px 0;
        font-size: 30px;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color: rgb(90, 47, 47);
    }
    
    .imag{
        width: 200px;
        height: 280px;
        border-radius: 10px;
        box-shadow: 3px 5px 5px rgba(3, 32, 51, .8);
        margin: 10px 0;
        cursor: pointer;
    } 
}
@media (max-width: 769px){

    .search{
        border-radius: 5px;
        padding: 2px;
    }
    .search img{
        width: 30px;
        height: 30px;
    }
    .contenedor{
        display: grid;
        grid-template-columns: auto auto ;
        justify-content: space-around;
        margin-top: 120px;
        margin-bottom: 30px;
    }
    
}
@media (max-width: 769px){

    .search{
        border-radius: 5px;
        padding: 2px;
    }
    .search img{
        width: 30px;
        height: 30px;
    }
    .contenedor{
        display: grid;
        grid-template-columns: auto auto ;
        justify-content: space-around;
        margin-top: 120px;
        margin-bottom: 30px;
    }
    
    @media (max-width: 425px){

        .search{
            border-radius: 5px;
            padding: 5px;
        }
        .search img{
            width: 20px;
            height: 20px;
        }
        .contenedor{
            display: grid;
            grid-template-columns: auto;
            justify-content: space-around;
            margin-top: 120px;
            margin-bottom: 30px;
        }
        
    }
}

//----- Carrito__-------///

#boton-carrito {
    border: none;
    color: rgba(53, 42, 121, 0.87);
    font-size: 20px;
    background-color: rgba(203, 201, 212, 0.733);
    border-radius: 50%;
    padding: 10px 20px;
    transition: all .6s;
}
#boton-carrito:hover {
    cursor: pointer;
    color: rgb(240, 240, 240);
    background-color: rgba(5, 2, 24, 0.705);
    font-size: 13px;
}
#boton-carrito:focus {
    outline: none;
}
.boton-agregar {
    background-color: rgb(44, 59, 110);
    color: white;
    font-size: 18px;
    font-weight: 700;
    padding: 5px;
    border-radius: 9px;
    border: none;
    transition: all .2s;
}
.boton-agregar:hover {
    cursor: pointer;
    box-shadow: 1px 3px 1px 1px rgba(0, 0, 0, 0.3);
}
.boton-agregar:focus {
    outline: none;
}

.modal-contenedor {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .5s;
    opacity: 0;
    visibility: hidden;
}

.modal-active {
    opacity: 1;
    visibility: visible;
}

.modal-carrito {
    position: relative;
    background-color: white;
    min-width: 500px;
    padding: 20px;
    margin-top: -100%;
    transition: all .5s;
}

.modal-active .modal-carrito {
    margin-top: 0;
}

.modal-carrito h3 {
    color: rgb(10, 15, 29);
    padding-bottom: 5px;
}
.modal-carrito #carritoCerrar {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 20px;
    color: rgb(4, 20, 68);
    border: none;
    background-color: white;
}
.modal-carrito #carritoCerrar:hover {
    cursor: pointer;
}
.modal-carrito #carritoCerrar:focus {
    outline: none;
}
.modal-carrito .precioProducto {
    padding-top: 10px;
}
.finalizar{
    font-family: fantasy;
    background-color: rgb(0, 70, 92);
    padding: 8px;
    border: none;
    border-radius: 9px;
    color: rgb(255, 255, 255);
}

.productoEnCarrito {
    border-left: 5px solid lightblue;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
    margin: 5px 0;
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
}
.productoEnCarrito:hover {
    border-left: 5px solid rgb(5, 33, 119);
}

.boton-eliminar {
    background-color: white;
    color: rgb(219, 33, 33);
    border: none;
    font-size: 20px;
}

.boton-eliminar:hover {
    cursor: pointer;
}
.boton-eliminar:focus {
    outline: none;
}