.bodyFilm{
    margin-top: 4rem;
    background-image: url(../assets/grey.jpg);
    padding: 50px 10px;
    display: grid;
    grid-template-areas:
    "cabezaFilm cabezaFilm "
    "main  aside"
    "pieFilm pieFilm"
    ;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;

    .cabezaFilm{
    grid-area: cabezaFilm;
    }

    main{
    grid-area: main;
    }

    aside{
     grid-area: aside;
    }

    .pieFilm{
       grid-area: pieFilm;
       padding: 4rem;
    }

   .boxText{
        margin: 20px 50px 30px 20px;
    }

    .boxText p{
        background-color: $colorTrans;
        padding: 10px 5px;
        font-family:$fontBase;
        margin: 20px 10px 10px 10px;
    }

    .boxText iframe{
       margin-top: 40px;
       padding: 1px;
       border-radius: 20px;
       box-shadow: 5px 5px 10px;
    }

    .poster{
    margin: 10px 30px;
    }

    .poster img{
    border-radius: 3px;
    padding: 1px;
    width: 500px;
    height: 650px;
    box-shadow: 0 5px 10px 10px rgba(196, 182, 182, 0.76);
    }
}

@media (max-width: 992px){
        .bodyFilm{
//      width:auto;
//      background-image: url(../assets/grey.jpg);
//      background-attachment: fixed;
//      background-repeat: no-repeat;
//      background-position: center;
//      background-size: cover;
        display: flex;
          flex-direction: column;
          }
    .poster{
        display: none;
    }
    .boxText iframe{
        margin-top: 40px;
        width:100%;
        padding: 1px;
        border-radius: 20px;
        box-shadow: 5px 5px 10px;
     }

}

@media (max-width: 765px){
    .boxText iframe{
        margin-top: 40px;
        width:100%;
        padding: 1px;
        border-radius: 20px;
        box-shadow: 5px 5px 10px;
     }
    aside{
        display: none;
    }
    
}
@media (max-width: 576px ){
    .bodyFilm{
        width:auto;
        padding: 90px 10px;
        display: flex;
        flex-direction: column;
    }
    
    aside{
        display: none;
    }
}
@media (max-width: 375px ){
    .bodyFilm{
        width:auto;
        padding: 90px 10px;
    }
    aside{
        display: none;
    }
}