*{
    margin: 0;
    padding: 0;
}
.containerGeneral{
    max-width: 1000px;
    margin: 0 auto;
}

@mixin title($width) {
    font-size: $texBase;
    padding: 1rem;
    background-color: $colorTrans;
    border-radius: 120px;
    width: auto;
}
