// $mapRedes:(facebook:blue, instagram:rgb(255, 0, 221), twitter:rgb(0, 225, 255));

// @each $i, $valor in $mapRedes {
//     .#{$i}{
//         color: $valor;
//     }
    
// }

$mapText:(
    h1:2rem,
    h2:1rem,
    h3:1rem,
     );
@each $i, $text in $mapText{
    #{$i}{
        font-size: $text;
    }
}
