.containerP{
    margin: 30px 100px;
    display: block;
  

  &__pagos__text{
      margin-top: 20px;
      color: $colorP;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 18px;
      text-align: center;
      border: 1px solid $colorP;
      border-radius: 1px;
      background-color: white;
    }
}

@media (min-width: 150px){
  .containerP{
    margin: 30px 10px;
  }
  .titulo{
    text-align: start;
    width: fit-content;
    font-size: $textMin;
  }
}
@media (min-width: 375px){
  .containerP{
    margin: 30px 10px;
    display: block;
  
  &__pagos__text{
    margin-top: 10px;
    font-size: $texBase;
    text-align: start;
    width: 100%;
  }
 }
  .titulo{
    text-align: start;
    width: fit-content;
    font-size: $texBase;
  }
}

@media (min-width: 768px){
  .containerP{
    margin: 30px 100px;
    display: block;
  
  &__pagos__text{
      margin-top: 10px;
      font-size: $texBase;
      text-align: start;
    }
  }  
  .titulo{
    font-size: $texBase;
  }
}
@media (min-width: 992px){
  .containerP{
    margin: 30px 100px;
    display: block;
  

  &__pagos__text{
      margin-top: 20px;
      color: $colorP;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 18px;
      text-align: center;
      border: 1px solid $colorP;
      border-radius: 1px;
      background-color: white;
    }
  }
  .titulo{
    margin: 2rem 1rem;
    width: auto;
    padding: 5px 15px;
    box-shadow: $shadow;
    background: linear-gradient(
    to left top,
    rgba(106, 31, 121, 0.418),
    rgba(31, 68, 110, 0.678)
    );
    color: rgb(255, 249, 249);
    border-radius: 2px;
}
}
