$colorP: #333;
$colorTrans:#f0f8ff2f;
$colorlight: #fbf8f1a4;
$colorDark:rgb(0, 0, 0);
$texBase: 1.5rem;
$textLarge:3rem;
$textMin:1rem;
$fontBase:Arial, Helvetica, sans-serif;
$shadow:2px 5px 8px 5px rgba(32, 24, 24, 0.411);


